*.exe
*.log
*.o
*.trs
.build/
.deps/
.dirstamp
/.tarball-version
/.version
/GPATH
/GRTAGS
/GTAGS
/Makefile.in
/Makefile
/TAGS
/aclocal.m4
/autom4te.cache/
/build/ar-lib
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/config.h
/config.h.in
/config.status
/configure
/gtags.files
/lib/rncc.c
/lib/rncc.output
/src/rncc
/stamp-h1
/tests/atconfig
/tests/atlocal
/tests/lib/uri
/tests/src/rncc
/tests/package.m4
/tests/rncc
/tests/testsuite
/tests/testsuite.dir/
