*.exe
*.o
.build/
.deps/
.dirstamp
/.tarball-version
/.version
/GPATH
/GRTAGS
/GTAGS
/Makefile.in
/Makefile
/TAGS
/aclocal.m4
/autom4te.cache/
/build/compile
/build/depcomp
/build/install-sh
/build/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/gtags.files
/src/rncc
/src/rncc.c
/src/rncc.output
/stamp-h1
/tests/atconfig
/tests/atlocal
/tests/package.m4
/tests/rncc
/tests/testsuite
/tests/testsuite.dir/
/tests/testsuite.log
